@import 'variables';
@import 'responsive';
@import 'components/text_style';
@import 'components/buttons';
@import 'components/cards';
@import 'components/animation';


body {
    color: $Black;
    @include PStyle
}

h1 {
    @include H1Style
}

h2 {
    @include H2Style
}

h3 {
    @include H3Style
}

.container {
    padding: 0 .5rem;

    @include Tablet {
        padding: 0 8rem;
    }
}

section {
    margin-bottom: $EcartSection;
}

.button {
    @include ButtonStyle
}

.fontello {
    @include FontelloStyle
}

.noScroll {
    overflow: hidden;
}

header {
    .header_content {
        background-color: $DarkBlue;

        .header_content_up {

            .menu-bg {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 0;
                height: 0;
                background: radial-gradient(circle, $Orange, $Orange);
                border-radius: 50%;
                transition: 0.3s ease;
                box-shadow: $OmbrePortee;
            }

            .change {
                display: block;
            }

            .change-bg {
                width: 65rem;
                height: 50rem;
                transform: translate(-60%, -30%);
            }

            #menu-bar {
                visibility: visible;
                position: absolute;
                margin-top: 4rem;
                top: 0;
                left: 2rem;
                cursor: pointer;
                width: 5rem;
                height: 5rem;
                z-index: 10;

                .bar {
                    height: 5px;
                    width: 100%;
                    background-color: $White;
                    display: block;
                    border-radius: 5px;
                    transition: 0.3s ease;
                    box-shadow: $OmbrePortee;
                }

                #bar1 {
                    margin-bottom: .6rem;
                }

                #bar3 {
                    margin-top: .6rem;
                }

                @include Tablet {
                    visibility: hidden;
                }

            }

            img {
                max-width: 15rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .header_navbar {
            @include Mobile {
                transition: 0.3s ease;
                position: absolute;
                left: -25rem;
                top: 10rem;
                z-index: 10;
            }

            .header_navbar_ul {

                li a {
                    color: $White;
                    @include NavStyle;
                    margin-bottom: 1.5rem;
                }
            }
        }

        .change-nav {
            left: 5rem;
        }
    }
}

.hero {
    padding: 3rem 0;
    background-image: url(/images/background-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;

    .hero_content {
        display: flex;
        flex-wrap: wrap;

        .hero_content_text {
            .hero_content_text_p {
                color: $White;
            }
        }

        .hero_content_img {
            max-width: 70rem;
            min-width: 28rem;
            object-fit: cover;
        }
    }
}

.services {
    .services_cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 2rem;

        @include Tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include Laptop {
            grid-template-columns: repeat(3, 1fr);
        }

        .services_card {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-blend-mode: darken;
            position: relative;
            background-color: $DarkBlueCard;
            color: $White;
            padding: 2rem;
            border-radius: 1rem;
            min-height: 30rem;
            max-width: 41.4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            h3 {
                text-transform: uppercase;
            }

            a {
                color: $White;
            }
        }

        .services_card_1 {
            background-image: url(/images/services_illu_conception.svg);
        }

        .services_card_2 {
            background-image: url(/images/services_illu_formation.svg);
        }

        .services_card_3 {
            background-image: url(/images/services_illu_integration.svg);

            @include Tablet {
                grid-area: 1 / 2 / 3 / 3;
            }
        }

        .services_card_4 {
            background-image: url(/images/services_illu_accompagnement.svg);
        }

        .services_card_5 {
            background-image: url(/images/services_illu_sos.svg);
        }
    }
}

.nous {
    background-color: $DarkBlue;

    .nous_content {
        .nous_content_text {
            padding: .5rem;
            color: $White;
        }
    }
}

.choix {
    .choix_cards {
        .choix_card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 2rem;

            .choix_card_num,
            .choix_card_titre {
                color: $Orange;
                text-transform: uppercase;
                font-family: $Outfit;
                font-weight: 700;
            }

            .choix_card_num {
                font-size: 8rem;
            }

            .choix_card_titre {
                font-size: 3rem;
            }
        }
    }
}

.offres {
    position: relative;
    color: $White;
    background-color: $DarkBlue;
    padding: 5rem 0;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: .5rem;
        background-color: $Orange;
        top: 1rem;
        left: 0;
        z-index: 10;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: .5rem;
        background-color: $Orange;
        bottom: -1rem;
        left: 0;
        z-index: 10;
    }

    .offres_content {
        z-index: 2;

        .offres_content_cards {
            .offres_content_card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-bottom: 3rem;

                h3,
                span {
                    text-transform: uppercase;
                }

                span {
                    font-size: 2.6rem;

                }
            }
        }
    }

}

.blog {
    .blog_content {
        display: inline-flex;
        flex-direction: column;
        align-items: center;

        .blog_content_cards {
            .blog_content_card {
                max-width: 52rem;

                .blog_content_card_content {
                    .blog_content_card_content_img {
                        border-radius: 1rem 1rem 0 0;
                        background-color: $DarkBlue;

                        img {
                            padding: 1rem;
                        }
                    }

                    .blog_content_card_content_text {
                        border-radius: 0 0 1rem 1rem;
                        padding: 1rem;
                        color: $White;
                        background-color: $Orange;

                        .button_more {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

.newsletter_content {
    border: solid .3rem;
    border-image: linear-gradient(125deg, $DarkOrange, $DarkBlue) 1;
    padding: 1.5rem 0.7rem;

    p {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .newsletter_content_input {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;

        .newsletter_content_input_label-mail {
            font-size: 2.2rem;
            font-weight: 700;
            color: $Orange;
        }

        .newsletter_content_input_input-mail {
            margin: auto;
            min-width: 28rem;
            max-width: 67rem;
            border: 0.25rem solid $DarkBlue;
            border-radius: 0.5rem;
        }

        &::after {
            content: url(/images/illu_newsletter.svg);
            max-width: 19rem;
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;
        }
    }

    .newsletter_content_submit {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
}

footer {
    background-color: $DarkBlue;
    text-align: center;

    img {
        margin-bottom: 2rem;
    }

    .footer_up {
        .footer_up_middle {
            .follow_link {
                font-family: $Outfit;
                font-size: 3rem;
                font-weight: 700;
                color: $Orange;
            }

            .footer_up_middle_rs {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .button_contact {
            margin-bottom: 6rem;
        }
    }

    .footer_down {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        ul li {
            margin-bottom: 1.5rem;

            a {
                color: $White;
            }
        }
    }
}